body{
	background: url(../img/noisy_net.png);
}

table{
	margin: auto;
		-webkit-user-select: none; /* Chrome/Safari */        
	-moz-user-select: none; /* Firefox */
	-ms-user-select: none; /* IE10+ */

	/* Rules below not implemented in browsers yet */
	-o-user-select: none;
	user-select: none;
}

table tbody{
		-webkit-user-select: none; /* Chrome/Safari */        
	-moz-user-select: none; /* Firefox */
	-ms-user-select: none; /* IE10+ */

	/* Rules below not implemented in browsers yet */
	-o-user-select: none;
	user-select: none;
}

table tr{
		-webkit-user-select: none; /* Chrome/Safari */        
	-moz-user-select: none; /* Firefox */
	-ms-user-select: none; /* IE10+ */

	/* Rules below not implemented in browsers yet */
	-o-user-select: none;
	user-select: none;
}

.center_content{
	text-align: center;
}

.bottom_margin{
	margin-bottom: 2em;
}

.gameBit{
	border: solid 2px #b0b0b0;
	cursor: pointer;
	background: #282828;
	-webkit-user-select: none; /* Chrome/Safari */        
	-moz-user-select: none; /* Firefox */
	-ms-user-select: none; /* IE10+ */

	/* Rules below not implemented in browsers yet */
	-o-user-select: none;
	user-select: none;
}

.bitOn{
	background: white;
}

.box_it{
	padding: 1em;
	background: #b0b0b0;
	border-radius: 0.5em;
}

.grey_text{
	color: #b0b0b0;
}